.button {
    @apply inline-block px-md py-sm rounded-full border-2 border-primary font-bold relative overflow-hidden;

    &-lg {
        @apply px-lg py-md;
    }

    &-dull {
        @apply bg-gray-200 border-white;
    }

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: theme("colors.primary");
        opacity: 0.2;
        transition: width $transition;
    }

    &-active,
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.buttons {
    @apply inline-flex flex-col;

    @screen md {
        @apply flex-row;
    }

    .button {
        border-radius: 0;
        margin: 0 -1px;

        &:first-child {
            @apply rounded-t-full;

            @screen md {
                @apply rounded-l-full rounded-r-none;
            }
        }
        
        &:last-child {
            @apply rounded-b-full;

            @screen md {
                @apply rounded-r-full rounded-l-none;
            }
        }
    }
}
