.circle {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 40vw;
        border-radius: 100%;
        background-image: linear-gradient(126deg, #0BD3FA 32%, #0BD6B4 90%);
    }
}

.ring {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 720px;
        height: 720px;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;utf-8,<svg width="359px" height="719px" viewBox="0 0 359 719" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-1247.000000, -176.000000)" fill=""><g transform="translate(-361.000000, -915.000000)"><path d="M1967.5,1091 C2166.04637,1091 2327,1251.95363 2327,1450.5 C2327,1649.04637 2166.04637,1810 1967.5,1810 C1768.95363,1810 1608,1649.04637 1608,1450.5 C1608,1251.95363 1768.95363,1091 1967.5,1091 Z M1967.5,1195 C1826.39125,1195 1712,1309.39125 1712,1450.5 C1712,1591.60875 1826.39125,1706 1967.5,1706 C2108.60875,1706 2223,1591.60875 2223,1450.5 C2223,1309.39125 2108.60875,1195 1967.5,1195 Z"></path></g></g></svg>');
    }    
}