.hr {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    
    &::before {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
        flex: 1;
        @apply mr-md;
    }
    
    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
        flex: 1;
        @apply ml-md;
    }
}