.list {
    &-item {
        @apply py-md px-lg border-gray-200 border-2;
        margin-bottom: -2px;

        &:first-child {
            @apply rounded-tr-full;
        }

        &:last-child {
            @apply rounded-br-full;
        }

        &:hover {
            @apply border-primary;
            position: relative;
            z-index: 2;
        }
    }
}