@mixin logo( $fill: black ) {
    display: inline-block;
    width: 110px; 
    height: 25px;
    text-indent: -999em;
    background-image: url('data:image/svg+xml;utf-8,<svg width="110px" height="25px" viewBox="0 0 110 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-245.000000, -88.000000)" fill="#{$fill}" fill-rule="nonzero"><g transform="translate(245.000000, 55.000000)"><path d="M71,52.1726755 L71,57 L64.5970149,57 L61.9776119,57 L59,57 L59,33 L64.5746269,33 L64.5746269,37.4857685 L69.7238806,37.4857685 L69.7238806,42.0398482 L64.5970149,42.0398482 L64.5970149,52.1726755 L71,52.1726755 Z M79.5850467,52.1726755 L79.5850467,42.0398482 L84.7214953,42.0398482 L84.7214953,37.4857685 L79.5850467,37.4857685 L79.5850467,33 L74,33 L74,57 L76.9831776,57 L79.6074766,57 L86,57 L86,52.1726755 L79.5850467,52.1726755 Z M55,47.5 C55,53.2995546 50.3056156,58 44.5,58 C38.6943844,58 34,53.2995546 34,47.5 C34,41.7004454 38.7170626,37 44.5,37 C50.2829374,37 55,41.7004454 55,47.5 Z M49,47.4999164 C49,44.4548983 46.7570093,42 44,42 C41.2429907,42 39,44.4785031 39,47.4999164 C39,50.5213297 41.2429907,52.9998328 44,52.9998328 C46.7570093,53.0234376 49,50.5449345 49,47.4999164 Z M110,47.5 C110,53.2995546 105.305616,58 99.5,58 C93.6943844,58 89,53.2995546 89,47.5 C89,41.7004454 93.7170626,37 99.5,37 C105.305616,37 110,41.7004454 110,47.5 Z M104,47.4999164 C104,44.4548983 101.757009,42 99,42 C96.2429907,42 94,44.4785031 94,47.4999164 C94,50.5213297 96.2429907,52.9998328 99,52.9998328 C101.780374,53.0234376 104,50.5449345 104,47.4999164 Z M28.2549463,38.8327606 C27.0843514,37.6185567 25.4546998,37 23.3889442,37 C22.0347266,37 20.8411789,37.2749141 19.7853482,37.8018328 C18.7295176,38.3287514 17.7884511,39.1076747 16.9162432,40.1386025 C16.4112807,39.1305842 15.6767899,38.3516609 14.7357234,37.8247423 C13.794657,37.2749141 12.6699678,37.0229095 11.3846087,37.0229095 C10.6730707,37.0229095 10.0303912,37.1145475 9.45657016,37.2749141 C8.88274915,37.4581901 8.35483383,37.6872852 7.89577703,37.9851088 C7.43672022,38.2829324 7.00061626,38.626575 6.63337082,38.9931271 C6.24317253,39.3825888 5.89887993,39.7720504 5.57754017,40.1844215 L5.57754017,37.3894616 L0,37.3894616 L0,57 L5.57754017,57 L5.57754017,43.0252005 L12.210911,43.0252005 L12.210911,57 L17.7884511,57 L17.7884511,43.0252005 L24.421822,43.0252005 L24.421822,57 L29.9993621,57 L29.9993621,44.2164948 C30.022315,41.8339061 29.4255411,40.0469645 28.2549463,38.8327606 Z"></path></g></g></svg>');
}

@each $name, $color in $color-brand {
    .logo-#{$name} {
        @include logo($color);
    }
}