$rotation-rate: 2s;

.stat {
    border-radius: 50%;
    background-color: theme("colors.white");
    display: inline-flex;
    flex-direction: column;
    width: 205px;
    height: 205px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        position: absolute;
        top: -15px;
        left: -15px;
        z-index: -1;
        border-radius: 50%;
        @include brand-gradient;
        animation: rotating $rotation-rate linear infinite;
        transition: all $transition;
    }

    &-offset-90 {
        &::after {
            animation: rotatingOffset90 $rotation-rate linear infinite;
        }
    }

    &-offset-180 {
        &::after {
            animation: rotatingOffset180 $rotation-rate linear infinite;
        }
    }

    &-offset-270 {
        &::after {
            animation: rotatingOffset270 $rotation-rate linear infinite;
        }
    }

    &:hover {
        &::after {
            width: calc(100% + 60px);
            height: calc(100% + 60px);
            top: -30px;
            left: -30px;
            animation: rotating 200ms linear infinite;
        }           
    }
}