$tip-size: 10px;

.tooltip {
    @apply bg-gray-200 rounded p-lg relative text-gray-600;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    z-index: -1;

    &::before {
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-left: $tip-size solid transparent;
        border-right: $tip-size solid transparent;
        border-bottom: $tip-size solid theme("colors.gray.200");
        position: absolute;
        top: -1 * $tip-size;
        left: 50%;
        transform: translate(-50%);
    }

    &-active {
        visibility: visible;
        opacity: 1;
    }
}