.underline {
    display: inline-block;
    padding: 0.5em 0;
    border-bottom: 2px solid currentColor;
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid currentColor;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -1px;
        z-index: 2;
        transform: translate(-50%, 50%);
        transition: left $transition;
    }

    &:hover {
        &::after {
            left: 100%;
        }
    }
}