@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin rotatingAnimation($offset: 0) {
  $degStart: 0 + $offset;
  $degEnd: 360 + $offset;

  from {
    transform: rotate(#{$degStart}deg);
  }
  to {
    transform: rotate(#{$degEnd}deg);
  }
}

@include keyframes(rotating) {
  @include rotatingAnimation;
}
@include keyframes(rotatingOffset90) {
  @include rotatingAnimation(90);
}
@include keyframes(rotatingOffset180) {
  @include rotatingAnimation(180);
}
@include keyframes(rotatingOffset270) {
  @include rotatingAnimation(270);
}

.rotating {
  animation: rotating 10s linear infinite;
}
