@mixin brand-gradient {
    background-image: linear-gradient( #0BD6B4, #0BD3FA);
}

@mixin hover-strip( $color: "primary" ) {
    position: relative;
    
    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: theme("colors." + #{$color});
        opacity: 0.2;
        transition: width $transition;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}