.h1 {
    @apply text-xxl;
}
.h2 {
    @apply text-xl;
}
.h3 {
    @apply text-lg;
}
.h4 {
    @apply text-base;
}
.h5 {
    @apply text-sm;
}
.h6 {
    @apply text-xs;
}

.heading {
    @apply font-bold;
}

.title {
    @apply font-light uppercase;
}

.subtitle {
    @apply font-bold tracking-wider uppercase;
}